Repository technologiestiftung/lab-site, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

.github/CODEOWNERS:

# https://help.github.com/articles/about-code-owners/

* @fdnklg @sebastian-meier @fabianmoronzirfas

source/assets/js/* @fdnklg
source/assets/js/css/* @fdnklg
source/assets/js/_scss/* @fdnklg

project-generator/* @fabianmoronzirfas
tslint.json @fabianmoronzirfas
tsconfig.json @fabianmoronzirfas
Gemfile.lock @fabianmoronzirfas
Gemfile @fabianmoronzirfas
jest.config.js @fabianmoronzirfas
.travis.yml @fabianmoronzirfas
.stylelintrc.js @fabianmoronzirfas
.node-version @fabianmoronzirfas
.eslintrc.js @fabianmoronzirfas
.editorconfig @fabianmoronzirfas
_config.yml @fabianmoronzirfas
__tests__/* @fabianmoronzirfas
.uglifyrc @fabianmoronzirfas
source/_collections/* @fabianmoronzirfas
source/_data/* @fabianmoronzirfas

fix(meta tags): this adds description and titles to meta tags
  _config.yml
  source/_data/meta.json
  source/_layouts/skeleton.html
  source/about/de/index.md
  source/about/en/index.md
  source/assets/js/index-timeline.js
  source/assets/js/index.js
Owners: @fabianmoronzirfas, @fdnklg, @sebastian-meier

chore(remove comments):
  source/_layouts/skeleton.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

css subtitles
  source/assets/_scss/general/inputs.scss
  source/assets/_scss/project/project-detail.scss
  source/assets/_scss/sections/lab-feed.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

enhancement: only add | page.title if there is an actuall title re #60
  source/_layouts/skeleton.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

enhancement: make copyright clickable as well
  source/_includes/footer.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

featured imgs updated
  source/assets/_scss/project/markdown.scss
  source/assets/_scss/sections/section.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index-timeline.js
  source/assets/js/index.js
  source/projects/bathing-water/images/featured-badewasser.jpg
  source/projects/bathing-water/images/featured-badewasser_2.jpg
  source/projects/bikerides/images/featured.jpg
  source/projects/bikerides/images/featured_s.jpg
  source/projects/bikerides/images/hero.jpg
  source/projects/kitas/images/featured.png
  source/projects/kitas/images/featured_.png
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

team changes
  source/_collections/_team_de/alexandra-kapp.md
  source/_collections/_team_de/benjamin-seibel.md
  source/_collections/_team_de/jolanta-paliszewska.md
  source/_collections/_team_de/nadine-riede.md
  source/_collections/_team_de/sara-reichert.md
  source/_collections/_team_de/sebastian-meier.md
  source/_collections/_team_de/victoria-dykes.md
  source/_collections/_team_en/alexandra-kapp.md
  source/_collections/_team_en/benjamin-seibel.md
  source/_collections/_team_en/jolanta-paliszewska.md
  source/_collections/_team_en/nadine-riede.md
  source/_collections/_team_en/sara-reichert.md
  source/_collections/_team_en/sebastian-meier.md
  source/_collections/_team_en/victoria-dykes.md
  source/_data/meta.json
  source/_includes/project-header.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

mission statement
  source/_data/meta.json
Owners: @fabianmoronzirfas

docs: Adds netlify badge to the README
  README.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

bike rides layout fixed
  source/assets/js/index-timeline.js
  source/assets/js/index.js
  source/projects/bikerides/css/custom_select.css
  source/projects/bikerides/css/root.css
  source/projects/bikerides/de/index.html
  source/projects/bikerides/en/index.html
  source/projects/bikerides/images/hero.jpg
  source/projects/bikerides/js/main-min.js
  source/projects/bikerides/js/main.js
  source/projects/bikerides/js/main_en-min.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

seb's codekit config
  source/projects/funding/js/config.codekit3
  source/projects/open-data-stats/js/config.codekit3
  source/projects/unis/config.codekit3
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

bikerides fiux
  source/assets/_scss/project/project-detail.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index-timeline.js
  source/assets/js/index.js
  source/projects/bikerides/css/radar-chart.css
  source/projects/bikerides/js/main-min.js
  source/projects/bikerides/js/main.js
  source/projects/bikerides/js/main_en-min.js
  source/projects/bikerides/js/main_en.js
  source/projects/bikerides/js/radar_chart.js
  source/projects/bikerides/js/radar_chart_en-min.js
  source/projects/bikerides/js/radar_chart_en.js
  source/projects/unis/css/index.css
  source/projects/unis/de/index.html
  source/projects/unis/en/index.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

compiled bike js
  source/projects/bikerides/js/main-min.js
  source/projects/bikerides/js/main_en-min.js
  source/projects/bikerides/js/radar_chart-min.js
  source/projects/bikerides/js/radar_chart_en-min.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

bikerides fix labels
  source/projects/bikerides/en/index.html
  source/projects/bikerides/js/main.js
  source/projects/bikerides/js/main_en.js
  source/projects/bikerides/js/radar_chart_en.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

build
  source/projects/bikerides/js/main-min.js
  source/projects/bikerides/js/main_en-min.js
  source/projects/bikerides/js/radar_chart_en-min.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

bikerides labels position fixed
  source/assets/js/index-timeline.js
  source/assets/js/index.js
  source/projects/bikerides/de/index.html
  source/projects/bikerides/js/radar_chart.js
  source/projects/bikerides/js/radar_chart_en.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

build
  source/projects/bikerides/js/radar_chart-min.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

transpiled
  source/projects/bikerides/config.codekit3
  source/projects/bikerides/js/main-min.js
  source/projects/bikerides/js/main_en-min.js
  source/projects/bikerides/js/radar_chart-min.js
  source/projects/bikerides/js/radar_chart_en-min.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

move .gitignore
  .gitignore
  DEPRECATED/.gitignore
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

chore: touch README for PR
  README.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

ie11 fix rows layout
  source/_includes/feed.html
  source/_includes/project-feed.html
  source/_layouts/landing.html
  source/assets/_scss/layout/grid.scss
  source/assets/_scss/sections/feature-projects.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index-timeline.js
  source/assets/js/index.js
  source/projects/bikerides/de/index.html
  source/projects/bikerides/en/index.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas
