Repository technologiestiftung/lab-site, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

css: footer structured
  source/_includes/footer.html
  source/_layouts/about.html
  source/_layouts/skeleton.html
  source/assets/_scss/sections/footer.scss
  source/assets/_scss/sections/funding.scss
  source/assets/_scss/sections/section.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/images/placeholder-hero.jpg
  source/assets/images/placeholder-hero.png
  source/assets/images/placeholder-rect.png
  source/assets/js/index.bundle.js
  source/assets/js/modules/Timeline.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

"a" styling added to mission statement
  source/assets/_scss/sections/partner.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

tooltip & subline fixes
  source/_data/meta.json
  source/_includes/macro-subline-markdown.html
  source/_layouts/about.html
  source/_layouts/team-detail.html
  source/assets/_scss/general/inputs.scss
  source/assets/_scss/sections/lab-feed.scss
  source/assets/_scss/sections/partner.scss
  source/assets/_scss/sections/section.scss
  source/assets/_scss/sections/tooltip.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/css/index.scss
  source/assets/js/index.bundle.js
  source/projects/funding/css/index.css
  source/projects/kleine-anfragen/css/index.css
  source/projects/kleine-anfragen/de/index.md
  source/projects/kleine-anfragen/en/index.md
  source/projects/kleine-anfragen/js/network.js
  source/projects/unis/css/index.css
  source/projects/unis/de/index.html
  source/projects/unis/en/index.html
Owners: @fabianmoronzirfas, @fdnklg, @sebastian-meier

fix: netlify build wrong site/url use docRoot instead
  source/_layouts/skeleton.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

styling: resp line break intro seciton
  source/assets/_scss/sections/intro.scss
  source/assets/_scss/sections/section.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index-timeline.js
  source/assets/js/index.js
  source/assets/js/src/modules/featProjectsHandler.js
  source/assets/js/timeline.bundle.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

ci: remove html-proofer from ci build
  Gemfile
  build-tools/ci-build.sh
Owners: @fabianmoronzirfas, @fdnklg, @sebastian-meier

ci(travis): include node build test
  .travis.yml
Owners: @fabianmoronzirfas

chore(remove old bundle):
  source/assets/js/timeline.bundle.js
Owners: @fdnklg

ci: fix build script
  build-tools/ci-build.sh
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

blog article on bike sharing APIs
  source/projects/bike-sharing/de/index.md
  source/projects/bike-sharing/en/index.md
  source/projects/bike-sharing/js/index.js
  source/projects/bike-sharing/styles/index.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: inline svgs wrapped into svg files
  source/_includes/footer.html
  source/assets/_scss/project/project-detail.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/images/berlin.svg
  source/assets/images/lbb.svg
  source/assets/images/tsb.svg
  source/projects/tori-intro/de/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

inline svgs in navigation fixed
  source/_includes/navigation.html
  source/assets/images/github.svg
  source/assets/images/placeholder.png
  source/assets/images/twitter.svg
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: last p of funding project translated
  source/projects/funding/de/index.html
  source/projects/funding/en/index.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

redirects
  source/projects/funding/de/index.html
  source/projects/funding/en/index.html
  source/projects/ki-ai-intro/de/potentials-challenges.html
  source/projects/ki-ai-intro/en/potentials-challenges.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

missing text on team & data link
  source/_collections/_team_de/nadine-riede.md
  source/_collections/_team_de/sara-reichert.md
  source/_data/meta.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

tracker integration
  source/_layouts/skeleton.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

footer tsb logo added
  source/_data/meta.json
  source/_includes/footer.html
  source/_includes/navigation.html
  source/assets/_scss/sections/funding.scss
  source/assets/_scss/sections/lab-feed.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index-timeline.js
  source/assets/js/index.js
  source/projects/tori-intro/de/index.md
  source/projects/tori-intro/en/index.md
Owners: @fabianmoronzirfas, @fdnklg, @sebastian-meier

fix: tsb logo footer responsive behavious
  source/assets/_scss/general/base.scss
  source/assets/_scss/pages/team-detail.scss
  source/assets/_scss/sections/funding.scss
  source/assets/_scss/sections/timeline.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

navigation fix
  source/_includes/navigation.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

link fixing
  source/_includes/navigation.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

date fix
  source/projects/funding/de/index.html
  source/projects/funding/en/index.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

transpile
  source/projects/open-data-stats/de/index.html
  source/projects/open-data-stats/en/index.html
  source/projects/open-data-stats/js/config.codekit3
  source/projects/open-data-stats/js/index-min.js
  source/projects/open-data-stats/js/main-min.js
  source/projects/open-data-stats/js/main_en-min.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

bikeride transpile
  source/projects/bikerides/de/index.html
  source/projects/bikerides/en/index.html
  source/projects/bikerides/js/config.codekit3
  source/projects/bikerides/js/main-min.js
  source/projects/bikerides/js/main_en-min.js
  source/projects/bikerides/js/radar_chart-min.js
  source/projects/bikerides/js/radar_chart_en-min.js
  source/projects/open-data-stats/js/main.js
  source/projects/open-data-stats/js/main_en.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

promise catch
  source/projects/bikerides/js/config.codekit3
  source/projects/bikerides/js/main-min.js
  source/projects/bikerides/js/main.js
  source/projects/bikerides/js/radar_chart-min.js
  source/projects/bikerides/js/radar_chart.js
  source/projects/open-data-stats/js/config.codekit3
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

clean html
  source/projects/bikerides/de/index.html
  source/projects/bikerides/en/index.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

debugging catches
  source/projects/bikerides/js/main-min.js
  source/projects/bikerides/js/main.js
  source/projects/bikerides/js/radar_chart-min.js
  source/projects/bikerides/js/radar_chart.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

bike fixing
  source/projects/bikerides/js/main-min.js
  source/projects/bikerides/js/main.js
  source/projects/bikerides/js/main_en-min.js
  source/projects/bikerides/js/main_en.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

test-push
  source/projects/unis/config.codekit3
  source/projects/unis/css/index.css
  source/projects/unis/css/index.scss
  source/projects/unis/de/index.html
  source/projects/unis/en/index.html
  source/projects/unis/js/config.codekit3
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

unis fixed
  source/projects/unis/config.codekit3
  source/projects/unis/de/index.html
  source/projects/unis/en/index.html
  source/projects/unis/js/index-min.js
  source/projects/unis/js/index.js
  source/projects/unis/js/index_en-min.js
  source/projects/unis/js/index_en.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

ie11 bugfix / transpile
  source/projects/funding/de/index.html
  source/projects/funding/en/index.html
  source/projects/funding/js/config.codekit3
  source/projects/funding/js/index-min.js
  source/projects/funding/js/index.js
  source/projects/funding/js/index_en-min.js
  source/projects/funding/js/index_en.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

css debugging
  source/projects/bikerides/config.codekit3
  source/projects/bikerides/css/main.css
  source/projects/bikerides/css/main.scss
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

no intro animation
  source/_layouts/default.html
  source/_layouts/project-overview.html
  source/_layouts/project.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

tooltip finetuning
  source/assets/_scss/sections/timeline.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index-timeline.js
  source/assets/js/index.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

padding between timeline and projects fixed
  source/assets/_scss/sections/timeline.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

Responsive Logo Title
  source/_includes/navigation.html
  source/assets/_scss/sections/navigation.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

footer url fixes
  source/_includes/footer.html
  source/assets/js/index-timeline.js
  source/assets/js/index.js
  source/assets/js/src/index-timeline.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

edge color overlay fix(ish)
  source/assets/_scss/sections/lab-feed.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

favicon updated for dark mode browsers
  source/assets/favicons/android-icon-144x144.png
  source/assets/favicons/android-icon-192x192.png
  source/assets/favicons/android-icon-36x36.png
  source/assets/favicons/android-icon-48x48.png
  source/assets/favicons/android-icon-72x72.png
  source/assets/favicons/android-icon-96x96.png
  source/assets/favicons/apple-icon-114x114.png
  source/assets/favicons/apple-icon-120x120.png
  source/assets/favicons/apple-icon-144x144.png
  source/assets/favicons/apple-icon-152x152.png
  source/assets/favicons/apple-icon-180x180.png
  source/assets/favicons/apple-icon-57x57.png
  source/assets/favicons/apple-icon-60x60.png
  source/assets/favicons/apple-icon-72x72.png
  source/assets/favicons/apple-icon-76x76.png
  source/assets/favicons/apple-icon-precomposed.png
  source/assets/favicons/apple-icon.png
  source/assets/favicons/favicon-16x16.png
  source/assets/favicons/favicon-32x32.png
  source/assets/favicons/favicon-96x96.png
  source/assets/favicons/favicon.ico
  source/assets/favicons/ms-icon-144x144.png
  source/assets/favicons/ms-icon-150x150.png
  source/assets/favicons/ms-icon-310x310.png
  source/assets/favicons/ms-icon-70x70.png
  source/assets/js/index-timeline.js
  source/assets/js/index.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

line height fixed
  source/assets/_scss/pages/team-detail.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index-timeline.js
  source/assets/js/src/modules/Timeline.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

responsive layout legend timeline
  source/assets/_scss/sections/timeline.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index-timeline.js
  source/assets/js/src/modules/Timeline.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

.github/CODEOWNERS:

# https://help.github.com/articles/about-code-owners/

* @fdnklg @sebastian-meier @fabianmoronzirfas

source/assets/js/* @fdnklg
source/assets/js/css/* @fdnklg
source/assets/js/_scss/* @fdnklg

project-generator/* @fabianmoronzirfas
tslint.json @fabianmoronzirfas
tsconfig.json @fabianmoronzirfas
Gemfile.lock @fabianmoronzirfas
Gemfile @fabianmoronzirfas
jest.config.js @fabianmoronzirfas
.travis.yml @fabianmoronzirfas
.stylelintrc.js @fabianmoronzirfas
.node-version @fabianmoronzirfas
.eslintrc.js @fabianmoronzirfas
.editorconfig @fabianmoronzirfas
_config.yml @fabianmoronzirfas
__tests__/* @fabianmoronzirfas
.uglifyrc @fabianmoronzirfas
source/_collections/* @fabianmoronzirfas
source/_data/* @fabianmoronzirfas
