Repository technologiestiftung/lab-site, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

style: project launch button inverted
  source/assets/_scss/project/project-detail.scss
  source/projects/funding/images/thumbnail.jpg
  source/projects/unis/images/thumbnail.jpg
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

style: gradient overlay reduced
  source/assets/_scss/project/project-detail.scss
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

small image macro added
  source/_includes/macro-image-section-markdown-small.html
  source/_includes/macro-image-section-small.html
  source/assets/_scss/project/markdown.scss
  source/assets/_scss/project/project-detail.scss
  source/projects/fisbroker-to-qgis/de/index.md
  source/projects/fisbroker-to-qgis/en/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: responsive behaviour timeline
  source/assets/js/index.bundle.js
  source/assets/js/index.js
  source/assets/js/modules/Timeline.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: timeline show only elms of selected lang
  source/assets/js/index.bundle.js
  source/assets/js/modules/Timeline.js
  source/projects/bikerides/de/index.html
  source/projects/bikerides/en/index.html
  source/projects/crime-atlas/de/index.md
  source/projects/fisbroker-to-qgis/de/index.md
  source/projects/fisbroker-to-qgis/en/index.md
  timeline.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

responsive embed added
  source/assets/js/index.bundle.js
  source/assets/js/index.js
  source/projects/sense10/de/index.md
  source/projects/sense10/en/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

build: add husky build task for autoprefixing and minifiying scss
  .gitignore
  build-tools/build-css-prepare.js
  package-lock.json
  package.json
  source/_layouts/skeleton.html
  source/assets/css/index.min.css
  tslint.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: build step
  build-tools/build-css-prepare.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: font path fixed
  source/assets/_scss/general/fonts.scss
  source/assets/_scss/project/html.scss
  source/assets/_scss/project/markdown.scss
  source/assets/_scss/project/project-detail.scss
  source/assets/_scss/sections/feature-projects.scss
  source/projects/datadive-accessibility/de/index.md
  source/projects/datadive-accessibility/en/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

style: ol markdown positioning
  source/assets/_scss/project/markdown.scss
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

build: add grid autoprefix thing?
  package-lock.json
  package.json
  postcss.config.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

build: css
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

feat(autoprefixer): adds autoprefixer scss postcss watch task
  .browserslistrc
  Gemfile.lock
  _config.yml
  build-tools/watch-scss-filter.js
  package-lock.json
  package.json
  postcss.config.js
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/css/index.scss
  source/assets/js/index.bundle.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

build: target older browsers with autoprefixer
  .browserslistrc
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: css grid ie11
  package-lock.json
  package.json
  postcss.config.js
  source/_layouts/skeleton.html
  source/assets/_scss/general/variables.scss
  source/assets/_scss/layout/grid.scss
  source/assets/_scss/pages/team-detail.scss
  source/assets/_scss/sections/lab-feed.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index.bundle.js
  source/projects/funding/js/.Rhistory
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: css grid ie 11 fix
  source/assets/_scss/layout/grid.scss
  source/assets/_scss/project/project-detail.scss
  source/assets/_scss/sections/feature-projects.scss
  source/assets/_scss/sections/lab-feed.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

more projects
  source/projects/od-for-cities/de/index.md
  source/projects/od-for-cities/en/index.md
  source/projects/od-for-cities/images/bikecitizens.png
  source/projects/od-for-cities/images/crashmap.png
  source/projects/tori-intro/de/index.md
  source/projects/tori-intro/en/index.md
  source/projects/tori-intro/images/hello.gif
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix(ie11 support): adds babelrc and examples for ie11 support
  .babelrc
  package-lock.json
  package.json
  source/assets/js/index.bundle.js
  source/assets/js/index.js
  source/assets/js/modules/ie-11-test.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

od-for-cities
  source/projects/od-for-cities/de/index.md
  source/projects/od-for-cities/en/index.md
  source/projects/tori-intro/de/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

feat(about mission statement): adds language switch for statement and section in meta data
  source/_data/meta.json
  source/_layouts/about.html
Owners: @fabianmoronzirfas, @fdnklg, @sebastian-meier

style: tooltip default style added
  source/assets/_scss/sections/tooltip.scss
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

chore: project unis js code transpiled
  source/projects/unis/js/index-min.js
  source/projects/unis/js/index_en_transpiled.js
  source/projects/unis/js/index_old.js
  source/projects/unis/js/index_transpiled.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

feat(placeholder hero): adds a default hero image when none is defined
  source/_includes/project-header.html
  source/assets/images/placeholder-hero.png
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

project transfers
  source/projects/kleine-anfragen/de/index.md
  source/projects/magic-mirror/de/index.md
  source/projects/magic-mirror/en/index.md
  source/projects/magic-mirror/images/IMG8511.jpg
  source/projects/magic-mirror/images/MagicMirror1.jpg
  source/projects/magic-mirror/images/MagicMirror2.jpg
  source/projects/magic-mirror/images/MagicMirror3.jpg
  source/projects/magic-mirror/images/MagicMirror4.jpg
  source/projects/magic-mirror/images/thumbnail.jpg
  source/projects/od-for-cities/de/index.md
  source/projects/od-for-cities/en/index.md
  source/projects/od-for-cities/images/thumbnail.jpg
  source/projects/tori-intro/de/index.md
  source/projects/tori-intro/en/index.md
  source/projects/tori-intro/images/thumbnail.jpg
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

extract graphs into single js classes
  source/projects/kleine-anfragen/css/index.css
  source/projects/kleine-anfragen/de/index.md
  source/projects/kleine-anfragen/js/index.js
  source/projects/kleine-anfragen/js/line-chart.js
  source/projects/kleine-anfragen/js/network.js
  source/projects/kleine-anfragen/js/pie-chart.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

use standard tooltip
  source/projects/kleine-anfragen/css/index.css
  source/projects/kleine-anfragen/de/index.md
  source/projects/kleine-anfragen/js/line-chart.js
  source/projects/kleine-anfragen/js/network.js
  source/projects/kleine-anfragen/js/pie-chart.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

ci(travis reconfig): we are not writing js test. So make travis useful again
  .travis.yml
  Gemfile
  Gemfile.lock
  _config.yml
  build-tools/ci-build.sh
Owners: @fabianmoronzirfas, @fdnklg, @sebastian-meier

test: add script for htmlproofer
  package.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

test: htmlproofer create report to review and capture stderr as well
  htmlproofer-report.txt
  package.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: double // in root url creation for production
  _config.yml
Owners: @fabianmoronzirfas

test: remove external links for sanity
  htmlproofer-report.txt
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: htmlproofer external links
  package.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: stash pop
  source/assets/js/index.bundle.js
Owners: @fdnklg

fix: stash pop
  source/assets/js/index.bundle.js
  source/assets/js/modules/languageSwitch.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix: stash pop
  source/assets/js/index.bundle.js
Owners: @fdnklg

feat(socialMediaIMage): adds switch for socialMediaImage. If the key exists in the frontmatter it wi
  package.json
  project-generator/src/frontmatter.yml
  source/_layouts/skeleton.html
  source/projects/example-md-project/de/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

set invisible and small changes
  source/projects/kleine-anfragen/de/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

cleaning & breitband 2017
  source/assets/js/index.bundle.js
  source/projects/breitband-2017/data/all.csv
  source/projects/breitband-2017/data/berlin_bezirke.topojson
  source/projects/breitband-2017/data/complete.topojson
  source/projects/breitband-2017/de/index.html
  source/projects/breitband-2017/en/index.html
  source/projects/breitband-2017/images/breitband-berlin.jpg
  source/projects/breitband-2017/images/social_media.jpg
  source/projects/breitband-2017/images/thumbnail.jpg
  source/projects/breitband-2017/js/breitband-min.js
  source/projects/breitband-2017/js/index-de.js
  source/projects/breitband-2017/js/index-en.js
  source/projects/breitband-2017/styles/bootstrap.min.css
  source/projects/breitband-2017/styles/main.css
  source/projects/der-name-kommt-noch/de/index.md
  source/projects/der-name-kommt-noch/en/index.md
  source/projects/hinweise-zur-barrierefreiheit-auf-der-serviceportal-berlin.de/de/index.md
  source/projects/hinweise-zur-barrierefreiheit-auf-der-serviceportal-berlin.de/en/index.md
  source/projects/kartendarstellung/de/index.md
  source/projects/kartendarstellung/en/index.md
  source/projects/kleine-anfragen/de/index.md
  source/projects/meine-perspektive/de/index.md
  source/projects/meine-perspektive/en/index.md
  source/projects/testing-project/css/index.css
  source/projects/testing-project/de/index.md
  source/projects/testing-project/en/index.md
  source/projects/testing-project/images/hero.jpg
  source/projects/testing-project/images/test.jpg
  source/projects/testing-project/images/thumbnail.jpg
  source/projects/testing-project/js/index.js
  source/projects/was-verbindet-die-gebardensprachgemeinschaft-und-barrierefreiheit/de/index.md
  source/projects/was-verbindet-die-gebardensprachgemeinschaft-und-barrierefreiheit/en/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

dates of all projects fixed
  source/assets/css/index.min.css
  source/assets/js/index.bundle.js
  source/projects/H3LL0W0RLD/de/index.md
  source/projects/H3LL0W0RLD/en/index.md
  source/projects/crime-atlas/en/index.md
  source/projects/datadive-accessibility/de/index.md
  source/projects/datadive-accessibility/en/index.md
  source/projects/datadive-cycling/de/index.md
  source/projects/datadive-cycling/en/index.md
  source/projects/der-name-kommt-noch/de/index.md
  source/projects/der-name-kommt-noch/en/index.md
  source/projects/example-html-project/de/index.html
  source/projects/example-html-project/en/index.html
  source/projects/example-md-project/de/index.md
  source/projects/example-md-project/en/index.md
  source/projects/funding/de/index.html
  source/projects/funding/en/index.html
  source/projects/hinweise-zur-barrierefreiheit-auf-der-serviceportal-berlin.de/de/index.md
  source/projects/hinweise-zur-barrierefreiheit-auf-der-serviceportal-berlin.de/en/index.md
  source/projects/iodc-recap/de/index.md
  source/projects/iodc-recap/en/index.md
  source/projects/kartendarstellung/de/index.md
  source/projects/kartendarstellung/en/index.md
  source/projects/kitas/de/index.html
  source/projects/kitas/en/index.html
  source/projects/kleine-anfragen/de/index.md
  source/projects/kleine-anfragen/en/index.md
  source/projects/meine-perspektive/de/index.md
  source/projects/meine-perspektive/en/index.md
  source/projects/od-for-cities/de/index.md
  source/projects/od-for-cities/en/index.md
  source/projects/odis-launch/de/index.md
  source/projects/odis-launch/en/index.md
  source/projects/our-lab-is-growing/de/index.md
  source/projects/unis/de/index.html
  source/projects/unis/en/index.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

timeline fix
  source/assets/js/modules/Timeline.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

.github/CODEOWNERS:

# https://help.github.com/articles/about-code-owners/

* @fdnklg @sebastian-meier @fabianmoronzirfas

source/assets/js/* @fdnklg
source/assets/js/css/* @fdnklg
source/assets/js/_scss/* @fdnklg

project-generator/* @fabianmoronzirfas
tslint.json @fabianmoronzirfas
tsconfig.json @fabianmoronzirfas
Gemfile.lock @fabianmoronzirfas
Gemfile @fabianmoronzirfas
jest.config.js @fabianmoronzirfas
.travis.yml @fabianmoronzirfas
.stylelintrc.js @fabianmoronzirfas
.node-version @fabianmoronzirfas
.eslintrc.js @fabianmoronzirfas
.editorconfig @fabianmoronzirfas
_config.yml @fabianmoronzirfas
__tests__/* @fabianmoronzirfas
.uglifyrc @fabianmoronzirfas
source/_collections/* @fabianmoronzirfas
source/_data/* @fabianmoronzirfas
