Repository technologiestiftung/lab-site, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

projects: date fix
  source/assets/js/index.bundle.js
  source/projects/datadive-accessibility/de/index.md
  source/projects/datadive-accessibility/en/index.md
  source/projects/funding/de/index.html
  source/projects/funding/en/index.html
  source/projects/kleine-anfragen/de/index.md
  source/projects/kleine-anfragen/en/index.md
  source/projects/unis/de/index.html
  source/projects/unis/en/index.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

csv optimisation
  README.md
  package.json
  source/assets/_scss/project/project-detail.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/projects/csv-string-optimization/de/index.html
  source/projects/csv-string-optimization/en/index.html
  source/projects/csv-string-optimization/images/hero.gif
  source/projects/csv-string-optimization/images/hero.jpg
  source/projects/csv-string-optimization/images/hero.png
  source/projects/csv-string-optimization/images/social_media.jpg
  source/projects/csv-string-optimization/images/thumbnail.jpg
  source/projects/csv-string-optimization/js/index-en.js
  source/projects/csv-string-optimization/js/index.js
  source/projects/csv-string-optimization/styles/index.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

timeline build fixed
  source/assets/js/index.bundle.js
  source/timeline.json
  timeline.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

damn you jekyll
  source/timeline.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

trust in numbers
  source/projects/datadive-accessibility/de/index.md
  source/projects/datadive-accessibility/en/index.md
  source/projects/datadive-cycling/de/index.md
  source/projects/datadive-cycling/en/index.md
  source/projects/trust-in-numbers/de/index.md
  source/projects/trust-in-numbers/en/index.md
  source/projects/trust-in-numbers/images/coburg.jpg
  source/projects/trust-in-numbers/images/deception.jpg
  source/projects/trust-in-numbers/images/social_media.jpg
  source/projects/trust-in-numbers/images/thumbnail.jpg
  source/projects/trust-in-numbers/js/index.js
  source/projects/trust-in-numbers/styles/index.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

tech4germany
  source/assets/_scss/project/project-detail.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/projects/tech4germany-2018/de/index.md
  source/projects/tech4germany-2018/en/index.md
  source/projects/tech4germany-2018/images/20181018_151722.jpg
  source/projects/tech4germany-2018/images/Tech4Germany-Logo_PNG-01_small-1024x664.png
  source/projects/tech4germany-2018/images/social_media.jpg
  source/projects/tech4germany-2018/images/team.jpg
  source/projects/tech4germany-2018/images/thumbnail.jpg
  source/projects/tech4germany-2018/images/week4_2.jpg
  source/projects/tech4germany-2018/images/zoll-auktion.png
  source/projects/tech4germany-2018/js/index.js
  source/projects/tech4germany-2018/styles/index.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

dcat-ap added
  source/_includes/macro-code-snippet.html
  source/projects/opendata-metadata-dcat-ap/data/Bezirk.topojson
  source/projects/opendata-metadata-dcat-ap/de/index.html
  source/projects/opendata-metadata-dcat-ap/en/index.html
  source/projects/opendata-metadata-dcat-ap/images/dataportal.png
  source/projects/opendata-metadata-dcat-ap/images/dataportal_en.png
  source/projects/opendata-metadata-dcat-ap/images/govdata.de.png
  source/projects/opendata-metadata-dcat-ap/images/social_media.jpg
  source/projects/opendata-metadata-dcat-ap/images/thumbnail.jpg
  source/projects/opendata-metadata-dcat-ap/js/index.js
  source/projects/opendata-metadata-dcat-ap/js/topojson-client.js
  source/projects/opendata-metadata-dcat-ap/styles/index.css
  source/projects/tech4germany-2018/de/index.md
  source/projects/tech4germany-2018/en/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

spatial-units
  source/projects/spatial-units/data/cityparts.topojson
  source/projects/spatial-units/data/corridors.topojson
  source/projects/spatial-units/data/districts.topojson
  source/projects/spatial-units/data/districtspaces.topojson
  source/projects/spatial-units/data/planningspaces.topojson
  source/projects/spatial-units/data/postcode.topojson
  source/projects/spatial-units/data/predictionsspaces.topojson
  source/projects/spatial-units/data/subtrafficcells.topojson
  source/projects/spatial-units/data/trafficcells.topojson
  source/projects/spatial-units/de/index.html
  source/projects/spatial-units/en/index.html
  source/projects/spatial-units/images/highres-buildings.png
  source/projects/spatial-units/images/highres-flure.png
  source/projects/spatial-units/images/highres-lor.png
  source/projects/spatial-units/images/highres-plz.png
  source/projects/spatial-units/images/highres-vz.png
  source/projects/spatial-units/images/social_media.jpg
  source/projects/spatial-units/images/thumbnail.jpg
  source/projects/spatial-units/images/thumbs_buildings.jpg
  source/projects/spatial-units/images/thumbs_buildings@2x.jpg
  source/projects/spatial-units/images/thumbs_flure.jpg
  source/projects/spatial-units/images/thumbs_flure@2x.jpg
  source/projects/spatial-units/images/thumbs_lor.jpg
  source/projects/spatial-units/images/thumbs_lor@2x.jpg
  source/projects/spatial-units/images/thumbs_plz.jpg
  source/projects/spatial-units/images/thumbs_plz@2x.jpg
  source/projects/spatial-units/images/thumbs_vz.jpg
  source/projects/spatial-units/images/thumbs_vz@2x.jpg
  source/projects/spatial-units/js/index.js
  source/projects/spatial-units/js/topojson.v1.min.js
  source/projects/spatial-units/readme.md
  source/projects/spatial-units/styles/index.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

funding link & kitas fix
  source/projects/funding/de/index.html
  source/projects/funding/en/index.html
  source/projects/kitas/css/index-min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

feat(js production build): Adds a npm script for production build
  package.json
  source/assets/js/index.bundle.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

feat(split timeline out): this splits the timeline into a differnet file
  .github/main.workflow
  _config.yml
  build-tools/watch-scss-filter.js
  package.json
  project-generator/src/frontmatter.yml
  source/_layouts/skeleton.html
  source/assets/js/index-timeline.js
  source/assets/js/index.js
  source/assets/js/src/index-timeline.js
  source/assets/js/src/index.js
  source/assets/js/src/modules/ImageSlider.js
  source/assets/js/src/modules/Timeline.js
  source/assets/js/src/modules/embed-resize.js
  source/assets/js/src/modules/featProjectsHandler.js
  source/assets/js/src/modules/hamburgerHandler.js
  source/assets/js/src/modules/handleOnload.js
  source/assets/js/src/modules/ie-11-test.js
  source/assets/js/src/modules/languageSwitch.js
  source/assets/js/src/modules/navigationHandler.js
  source/projects/example-md-project/en/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

refine d3 graphs
  source/projects/kleine-anfragen/css/index.css
  source/projects/kleine-anfragen/data/all_words_ts.csv
  source/projects/kleine-anfragen/data/graph_small.json
  source/projects/kleine-anfragen/data/ministries_17.csv
  source/projects/kleine-anfragen/data/ministries_18.csv
  source/projects/kleine-anfragen/de/index.md
  source/projects/kleine-anfragen/js/index.js
  source/projects/kleine-anfragen/js/line-chart.js
  source/projects/kleine-anfragen/js/network.js
  source/projects/kleine-anfragen/js/pie-chart.js
  source/projects/kleine-anfragen/js/stackedbar-chart.js
  source/projects/kleine-anfragen/ministries_17.csv
  source/projects/kleine-anfragen/ministries_18.csv
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

english text for kleine anfragen blog post
  source/projects/kleine-anfragen/en/index.md
  source/projects/kleine-anfragen/js/index_en.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

change hero and thumbnail images
  source/projects/kleine-anfragen/images/hero.jpg
  source/projects/kleine-anfragen/images/thumbnail.jpg
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix bug: example text not clickable
  source/projects/kleine-anfragen/js/network.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

add alt texts
  source/projects/kleine-anfragen/de/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

chore(ie tests and watch filter): remove logging from watch filter and ie11 test calls
  build-tools/watch-scss-filter.js
  source/assets/js/index.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

bug fix english index
  source/projects/kleine-anfragen/en/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

small EN landing page changes
  source/_layouts/landing.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

bugfixing
  source/_includes/project-header.html
  source/assets/_scss/general/base.scss
  source/assets/_scss/general/inputs.scss
  source/assets/_scss/general/variables.scss
  source/assets/_scss/layout/grid.scss
  source/assets/_scss/project/project-detail.scss
  source/assets/_scss/sections/feature-projects.scss
  source/assets/_scss/sections/footer.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index.bundle.js
  source/projects/unis/css/index.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

css fixes
  source/_layouts/about.html
  source/assets/_scss/project/project-detail.scss
  source/assets/_scss/sections/feature-projects.scss
  source/assets/_scss/sections/intro.scss
  source/assets/_scss/sections/lab-feed.scss
  source/assets/_scss/sections/navigation.scss
  source/assets/_scss/sections/partner.scss
  source/assets/_scss/sections/timeline.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index.bundle.js
  source/assets/js/modules/Timeline.js
  source/projects/breitband-2017/styles/bootstrap.min.css
  source/projects/tech4germany-2018/de/index.md
  source/projects/tech4germany-2018/en/index.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

chore(remove comments): make jekyll comments out of html comments
  source/_layouts/default.html
  source/_layouts/landing.html
  source/_layouts/project.html
  source/_layouts/skeleton.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

feature: vscode snippet
  .gitignore
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

chore(remove comments): Remove all comments from macros/includes
  source/_includes/feed.html
  source/_includes/macro-blockqoute-section-markdown.html
  source/_includes/macro-blockqoute-section.html
  source/_includes/macro-code-snippet.html
  source/_includes/macro-image.html
  source/_includes/macro-link.html
  source/_includes/macro-navigation-item.html
  source/_includes/navigation.html
  source/_includes/navigationItem.html
  source/_includes/project-header.html
  source/_includes/projects-list.html
  source/_includes/team-list.html
  source/_layouts/skeleton.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

chore(update bundle): rebuild latest bundle
  source/assets/js/index.bundle.js
Owners: @fdnklg

fix(page titles): add Home: Ideation & Prototyping Lab to title and in _config.yml
  _config.yml
  source/_layouts/skeleton.html
Owners: @fabianmoronzirfas, @fdnklg, @sebastian-meier

fix(text in layouts): Adds longer texts in layouts to source/_data/meta.json
  source/_data/meta.json
  source/_includes/funding.html
  source/_layouts/landing.html
  source/_layouts/skeleton.html
Owners: @fabianmoronzirfas, @fdnklg, @sebastian-meier

ci(netlify): testing netlify deploy
  netlify.toml
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

ci(netlify): testing branch deploys
  netlify.toml
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix(remove site.url): having this in here makes branch deploys impossible
  source/_includes/favicon-links.html
  source/_includes/feed.html
  source/_includes/project-header.html
  source/_includes/projects-list.html
  source/_includes/team-list.html
  source/_layouts/datasets.html
  source/_layouts/landing.html
  source/_layouts/skeleton.html
  source/_layouts/team-detail.html
  source/feed.xml
  source/timeline.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

ci(netlify): configure and link account
  .netlify/state.json
  netlify.toml
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

fix(site.url): remove trailing /
  source/_includes/favicon-links.html
  source/_includes/feed.html
  source/_includes/project-header.html
  source/_includes/projects-list.html
  source/_includes/team-list.html
  source/_layouts/datasets.html
  source/_layouts/landing.html
  source/_layouts/skeleton.html
  source/_layouts/team-detail.html
  source/feed.xml
  source/timeline.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

build(package.json build script):
  package.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

mission statement
  source/_data/meta.json
Owners: @fabianmoronzirfas

featured projects refined and bug fixed
  source/_layouts/landing.html
  source/assets/_scss/sections/feature-projects.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
  source/assets/js/index.bundle.js
  source/assets/js/modules/featProjectsHandler.js
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

featured images responsive fix
  source/assets/_scss/sections/feature-projects.scss
  source/assets/_scss/sections/navigation.scss
  source/assets/css/index.css
  source/assets/css/index.min.css
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

feat(sort team): adds a key to the team collections to sort them by a manually set indey
  source/_collections/_team_de/alexandra-kapp.md
  source/_collections/_team_de/benjamin-seibel.md
  source/_collections/_team_de/fabian-dinklage.md
  source/_collections/_team_de/fabian-moron-zirfas.md
  source/_collections/_team_de/jolanta-paliszewska.md
  source/_collections/_team_de/sebastian-meier.md
  source/_collections/_team_de/sebastian-rauer.md
  source/_collections/_team_de/victoria-dykes.md
  source/_collections/_team_en/alexandra-kapp.md
  source/_collections/_team_en/benjamin-seibel.md
  source/_collections/_team_en/fabian-dinklage.md
  source/_collections/_team_en/fabian-moron-zirfas.md
  source/_collections/_team_en/jolanta-paliszewska.md
  source/_collections/_team_en/sebastian-meier.md
  source/_collections/_team_en/sebastian-rauer.md
  source/_collections/_team_en/victoria-dykes.md
  source/_includes/team-list.html
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

Update package.json
  package.json
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

members added
  source/_collections/_team_de/nadine-riede.md
  source/_collections/_team_de/sara-reichert.md
  source/_collections/_team_en/nadine-riede.md
  source/_collections/_team_en/sara-reichert.md
  source/_includes/team-list.html
  source/assets/images/nadine.jpg
  source/assets/images/sara.jpg
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

order for noew team members set
  source/_collections/_team_de/nadine-riede.md
  source/_collections/_team_de/sara-reichert.md
  source/_collections/_team_en/nadine-riede.md
  source/_collections/_team_en/sara-reichert.md
Owners: @fdnklg, @sebastian-meier, @fabianmoronzirfas

.github/CODEOWNERS:

# https://help.github.com/articles/about-code-owners/

* @fdnklg @sebastian-meier @fabianmoronzirfas

source/assets/js/* @fdnklg
source/assets/js/css/* @fdnklg
source/assets/js/_scss/* @fdnklg

project-generator/* @fabianmoronzirfas
tslint.json @fabianmoronzirfas
tsconfig.json @fabianmoronzirfas
Gemfile.lock @fabianmoronzirfas
Gemfile @fabianmoronzirfas
jest.config.js @fabianmoronzirfas
.travis.yml @fabianmoronzirfas
.stylelintrc.js @fabianmoronzirfas
.node-version @fabianmoronzirfas
.eslintrc.js @fabianmoronzirfas
.editorconfig @fabianmoronzirfas
_config.yml @fabianmoronzirfas
__tests__/* @fabianmoronzirfas
.uglifyrc @fabianmoronzirfas
source/_collections/* @fabianmoronzirfas
source/_data/* @fabianmoronzirfas
